h1 {
  color: gold;
}

body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  text-align: center;
  background-image: url("images/table.jpg");
  background-size: cover;
  color: white;
  font-weight: bold;
}

#message-el {
  font-style: italic;
}
button {
  font-weight: bold;
  width: 150px;
  color: #016f32;
  background: goldenrod;
  border: none;
  padding: 5px;
  border-radius: 2px;
  margin: 0px 10px 3px 10px;
}
